<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
    <PropertyGroup>
        <WebPublishMethod>ZipDeploy</WebPublishMethod>
        <PublishProvider>AzureWebSite</PublishProvider>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish>https://fa-olievortex-red.azurewebsites.net</SiteUrlToLaunchAfterPublish>
        <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
        <ResourceId>/subscriptions/bfc1fbca-c3f0-48a2-9263-9ebb68c8ed96/resourceGroups/rg-olievortex-public/providers/Microsoft.Web/sites/fa-olievortex-red</ResourceId>
        <IsLinux>true</IsLinux>
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
        <PublishUrl>https://fa-olievortex-red.scm.azurewebsites.net/</PublishUrl>
    </PropertyGroup>
</Project>